.header {
    padding: 4rem 0;
    background-color: #141414;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.header-title {
    font-family: 'Fira Code';
    font-size: clamp(1.6rem, 7vw, 3.5rem);
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
    white-space: nowrap;
    min-height: 1.2em; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title::after {
    content: "_";
    margin-left: 5px;
    color: var(--primary-color);
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.header-subtitle {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-family: 'Fira Code';
    color: #adb5bd;
    max-width: 600px;
    margin: 0 auto;
}