.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link:hover {
    color: var(--primary-color);
}

nav.navbar {
    background-color: rgb(40, 40, 40);
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
}

.navbar-toggler {
    border: none !important;
    padding: 0.5rem;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30px;
    height: 24px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon-custom-line {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 3px;
    transition: all 0.3s ease;
}

.navbar-toggler-icon::before { transform: translateY(-8px); }
.navbar-toggler-icon::after { transform: translateY(8px); }